@font-face {
    font-family: "Dumb";
    src: url(2Dumb.ttf);
  }
  
	body {
		margin:0;
		  font-family: Dumb;
		font-weight:800;
		color:black;
		overflow:hidden;
		}
		
		.title {
		text-align:center;
		transform:translateY(5px);
		}
		
	.small_img_cover {
		width:100%;
		height:100%;
		
		z-index:1;
		display:none;
		
		}
	
	.small_img {
		width:70%;
	position:absolute; 
left:50%; 
top:50%;
transform:translate(-50%, -50%);
border-radius:10px;
animation:img1 0.2s linear 1;
	}
	
@keyframes img1 {
	0% {
		width:27%;
		}
	
	100% {
		width:70%;
		}
	}
	
.small_container {
	position:absolute;
	width:30%;
	height:100%;
	
	text-align:center;
	}
	
.small_img2_cover {
	width:110px;
	
	transform:translateY(-50%);
margin:0 auto;
position:relative;
top:50%;

	}
	
	.small_img2 {
	width:100%;
	border-radius:10px;
	}
	
	.big_container {
		position:absolute;
		top:0;
		left:30%;
	width:68%;
	height:100%;

	text-align:center;
	t
	}

    .big_img_cover {
    	width:220px;
   
    transform:translateY(-50%);
 border-radius:10px;
margin:0 auto;

 z-index:0;
 position:relative;
 top:50%;
    }
    
    .big_img {
    	margin:0 auto;
    width:220px;
    border-radius:10px;
    }
    
    
    .close {
    	text-align:center;
    transform:translate(0px, 20px);
    top:30px;
    left:45%;
    }
    
    .dialog {
    	width:200px;
    height:100px;
    background-color:#783030;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:10px;
    text-align:center;
    border-radius:10px;
    display:none;
    line-height:1.5;
z-index:600;
    animation: dialog 0.2s linear 1;
    }
    
    @keyframes dialog {
    	0% {
    	transform:scale(0) translate(-50%, -50%);
    
        
    
    }
    
    100% {
    	transform:scale(1) translate(-50%, -50%);
    }
    }
    
    .dialog_txt {
    	font-size:15px;
    margin:0 auto;
    color:#D8D8D8;
    
    }
    
    .next {
    	width:100px;
    height:20px;
    background-color:yellow;
    padding:5px;
    border-radius:10px;
    margin:0 auto;
    transform:translateY(7px);
    
    }
    
    .levels {
    	font-size:15px;
    	position:absolute;
    top:0%;
    left:1%;
    transform:translateY(10px);
    }
    
        .home {
    	font-size:15px;
    	position:absolute;
    top:0%;
    left:100%;
    transform:translate(-115%, 10px);
    }
    
    .step1 {
    	
    height:50px;
    position:relative;
    top:15px;
    text-align:center;
    font-size:12px;
    }
    
    .arrow_img {
    	width:20px;
    transform:rotate(-100deg);
    }
    
    .wrong {
    	font-size:80px;
    position:absolute;
    top:70%;
    left:40%;
    display:none;
    opacity:0;
   
    animation:wrong 0.1s linear 5;
    }
    
    @keyframes wrong {
    	0% {
    	transform:translateX(10px);
    opacity:1;
    
    }
    
    99% {
    	opacity:1;
    }
    
    100% {
    	transform:translateX(-10px);
    opacity:0;
    }
    }
    
    
        .wrong_hide {
    	width:100%;
    height:800px;
    background-color:white;
    position:absolute;
    top:60%;
    display:none;
    }
    
    
    
    